[Unit]
Description=Deploy Software Service
Documentation=man:swdeploy
After=network-online.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/bin/deploy
ExecStart=/home/ubuntu/bin/deploy/swdeploy
ExecReload=/usr/bin/pkill -9 -f swdeploy && /home/ubuntu/bin/deploy/swdeploy
ExecStop=/usr/bin/pkill -9 -f swdeploy
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
